<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="logFileName" value="${basedir}/log/${date:format=yyyy-MM-dd HH}.log"/>

  <variable name="layoutPrefix" value="${date:format=HH\:mm\:ss}"/>
  <variable name="layoutConsoleSuffix" value="[${level}] : [${message}]"/>
  <variable name="layoutFileSuffix" value="[${level}] : [${message} ] [${logger}] [${stacktrace}]"/>
  
  <targets>
    <target name="EAConsole" xsi:type="ColoredConsole" layout="${layoutPrefix} [EA.Service] ${layoutConsoleSuffix}"/>
    <target name="EAFile" xsi:type="File" fileName="${logFileName}" layout="${layoutPrefix} [EA.Service] ${layoutFileSuffix}"/>
  </targets>

  <rules>
    <logger name="TeoVincent.EA.Service.*" minlevel="Trace" writeTo="EAFile"/>
    <logger name="TeoVincent.EA.Service.*" minlevel="Trace" writeTo="EAConsole"/>
  </rules>
</nlog>